<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/frame::header">
</head>
	<body class="layui-layout-body">
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header layui-bg-black" th:replace="admin/frame::top">
			</div>

			<div class="layui-side layui-bg-black"
				 th:replace="admin/frame::left(6,62)">
			</div>

			<div class="layui-body">
				
				<div style="padding: 10px;">
					<div class="demoTable" style="padding: 10px;">
						<h3>管理员日志</h3>
						<hr class="layui-bg-red">
					</div>
					
					<table class="layui-hide" id="LAY_table_user" lay-filter="user"></table>

					<div class="layui-row">
						<div class="layui-col-md8">
							<div id="demo1"></div>
						</div>
					</div>

				</div>
			</div>

			<div class="layui-footer">
				<!-- 底部固定区域 -->
				© 底部固定区域
			</div>
		</div>
		<script src="/js/layui.all.js"></script>



		<script type="text/html" id="barDemo">
			<a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
		<script type="text/html" id="checkboxTpl">
			<!-- 这里的 checked 的状态只是演示 -->
  <input type="checkbox" name="正常" value="{{d.id}}" title="正常" lay-filter="lockDemo" {{ d.id = 'checked' }}>
</script>
		<script>
			var urlstr = '/json/user.json';
			var form;
			//JavaScript代码区域

			layui.use('element', function() {
				var element = layui.element;

			});

			layui.use('form', function() {
				form = layui.form;
			});

			layui.use('table', function() {
				var table = layui.table;
				table.render({
					elem: '#LAY_table_user'
						// ,url:'json/user.json'
						,
					url: urlstr,
					cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
						,
					cols: [
						[{
								type: 'numbers'
							},
							{
								field: 'id',
								width: 100,
								title: 'ID',
								sort: true
							}, {
								field: 'username',
								width: 100,
								title: '管理员ID',
								edit: 'text'
							}, {
								field: 'sex',
								width: 110,
								title: '管理员名',
								sort: true
							}, {
								field: 'city',
								width: 120,
								title: '请求',
								edit: 'text'
							}, {
								field: 'sign',
								title: '时间',
								width: '15%',
								minWidth: 40
							} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
							, {
								field: 'experience',
								title: 'IP地址',
								width: 130,
								sort: true
							}, 
							{
								field: 'classify',
								title: '是否正常',
								width: 110,
								templet: '#checkboxTpl',
								unresize: true
							}, 
							{
								fixed: 'right',
								title: '操作',
								toolbar: '#barDemo',
								width: 150
							}
						]
					]
				});



				//监听单元格编辑
				table.on('edit(user)', function(obj) {

					var value = obj.value //得到修改后的值
						,
						data = obj.data //得到所在行所有键值
						,
						field = obj.field; //得到字段
					layer.msg('[ID: ' + data.id + '] ' + field + ' 字段更改为：' + value);
				});

				//监听工具条
				table.on('tool(user)', function(obj) {
					// alert(table);
					var data = obj.data;
					if (obj.event === 'detail') {
						// layer.open('ID：'+ data.id + ' 的查看操作'+data.username);
						layer.open({
							content: JSON.stringify(data)
						});
					} else if (obj.event === 'del') {
						layer.confirm('确认删除吗?', function(index) {
							obj.del();
							layer.close(index);
						});
					} else if (obj.event === 'edit') {
						layer.alert('编辑行：<br>' + JSON.stringify(data))
					}
				});

				//监听锁定操作
				form.on('checkbox(lockDemo)', function(obj) {
					layer.msg(JSON.stringify(obj));
					layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked,obj.othis);
				});

			});

			layui.use('laypage', function() {
				var laypage = layui.laypage;

				//总页数大于页码总数
				//完整功能
				laypage.render({
					elem: 'demo1',
					count: 50,
					layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip'],
					jump: function(obj, first) {
						//向服务端发送数据,请求数据
						console.log(obj)

					}
				});
			});
		</script>

	</body>
</html>
